<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>Hello</p>

<a th:href="@{/login}">Log in</a>
<a th:href="@{/blog}">Blog</a>

<div sec:authorize="hasAnyAuthority('USER','ADMIN')">
    <form method="post" th:action="@{/logout}">
        <button type="submit">Logout</button>
    </form>
</div>

<div th:if="${param.logout}" class="alert alert-success">
    You have been logged out.
</div>

<div sec:authorize="hasAnyAuthority('USER','ADMIN')">
    <p>Welcome, <span th:text="${#authentication.getName()}"></span></p>
</div>


</body>
</html>