<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>Hello</p>

<a th:href="@{/login}">Log in</a>
<a th:href="@{/blog}">Blog</a>

<!-- Only users get to see the logout option -->
<div sec:authorize="hasAuthority('USER')">
    <form method="post" th:action="@{/logout}">
        <button type="submit">Logout</button>
    </form>
</div>

<div th:if="${param.logout}" class="alert alert-success">
    You have been logged out.
</div>

<!-- Users get to see their name-->
<div sec:authorize="hasAuthority('USER')">
    <p>Welcome, <span th:text="${#authentication.getName()}"></span></p>
    <p>Welcome, <span th:text="${#authentication.toString()}"></span></p>
    <p>Welcome, <span th:text="${#authentication.getDetails()}"></span></p>
</div>

</body>
</html>