<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<div>
    <form name="form" th:action="@{/login}" method="post">
        <p>Login:</p>
        <div th:if="${param.error}" class="alert alert-error">
            Invalid username/password.
        </div>
        <label for="username">Username</label>
        <input type="text" id="username" name="username"/>
        <label for="password">Password</label>
        <input type="password" id="password" name="password"/>
        <button type="submit">Log in</button>
</div>
</body>
</html>